#card{
    background-color: bisque;
    text-align: center;
    margin: 10px 300px;
    border: 4px solid burlywood;
    padding: 25px 25px;
    position: relative;
    border-radius: 20px;
    border-bottom: 8px solid rgb(190, 130, 51);
    border-right: 8px solid rgb(190, 130, 51);


}
#badge{
    position: absolute; 
    top:0; 
    right:0;
    font-weight: bold;
    background-color: green;
    color:lightgreen;
    border-radius: 40px;
    border-bottom: 5px solid darkgreen;
    padding: 2px;
}