div{text-align: center;}
#sidebar{
    display: inline-block;
    height: 700px;
    width: 100px;
    background-color: blanchedalmond;
    padding: 35px 15px;
    margin:35px 5px;
    border: 5px solid saddlebrown;
    vertical-align: top;
   

}

#mainContent{
    display: inline-block;
    width:575px;
    height: 700px;
    background-color: rgb(128, 107, 81);
    color: antiquewhite;
    padding: 35px 15px;
    margin:35px 5px;
    border: 5px solid sandybrown;
     vertical-align: top;
  
}

#advertisement{
    display: inline-block;
    width:200px;
    height: 700px;
    background-color: beige;
    padding: 35px 15px;
    margin:35px 5px;
     border: 5px solid darkred;
     vertical-align: top;
    
}