section{
    display: inline-block;
    height: 350px;
    width: 200px;
    border:3px solid rgb(222, 186, 67);
    background-color: beige;
    margin: 0px 20px;
    text-align: center;
    padding: 30px 47px;
   
}

section:hover{
    outline:3px solid brown;
    outline-offset: 6px;
}

header{
    text-align: center;
    color: rgb(226, 161, 81);
}
